<?xml version="1.0" encoding="UTF-8"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
   version="3.0">

  <servlet>
    <servlet-name>About</servlet-name>
    <servlet-class>demo.AboutServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>demo.ProfileServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>demo.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>demo.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout/*</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
   
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>
